#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  meshcentral-light-app.service
BindsTo=meshcentral-light.service
After=meshcentral-light.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/meshcentral-light-app.pid %t/meshcentral-light-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/meshcentral-light-app.pid \
    --cidfile %t/meshcentral-light-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/meshcentral-light.pod-id --replace -d --name  meshcentral-light-app \
    --volume meshcentral-light-app:/var/www/html/:Z \
    --volume ./tmp:/tmp:Z \
    --env=MARIADB_* \
    --env MARIADB_DB_TYPE=mysql \
    --env MARIADB_DB_HOST=127.0.0.1 \
    --env MARIADB_DB_PORT=3306 \
    --env MARIADB_DB_USER=meshcentral-light \
    --env MARIADB_DB_PASSWORD=meshcentral-light \
    --env MARIADB_DB_NAME=meshcentral-light \
    ${NGINX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/meshcentral-light-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP meshcentral-light-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/meshcentral-light-app.ctr-id
PIDFile=%t/meshcentral-light-app.pid
Type=forking

[Install]
WantedBy=default.target
